.allGames__container {
    overflow: hidden;
    margin: 5px;
    padding-bottom: 10px;
}

.allGames__title {
    color: #FFFFFF;
    font-size: 16px;
    padding-left: 30px;
    width: 100%;
}

.button__container{
    display: flex;
    padding-left: 30px;
    margin-bottom: 15px;
}

.select {
    margin-right: 10px;
    background-color: #7952b3;
    color: #151515;
    border: none;
    border-radius: 25px;
    height: 25px;
    font-family: 'Muli', sans-serif;
}

.notFound__container{
    display: flex;
    justify-content: center;
}

.notFound--title {
    margin-right: 10px;
    color: #FFFFFF;
}

.notFound--button {
    background-color: #ffc107;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    margin: 10px 0;
}