.card {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 300px;
    height: 225px;
    margin: 0px 10px;
    font-size: 20px;
    cursor: pointer;
    // transition: 450ms all;
    // -webkit-transform-origin: center left;
    //         transform-origin: center left;
}

.card__details {
    // align-items: flex-start;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    height: 100%;
    padding: 10px;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    transition: 450ms opacity;
    position: absolute;
}

.card:hover .card__details {
    opacity: 4;
}

.card__image{
    width: 300px;
    height: 225px;
}

.card__details--title {
    color: white;
    font-size: 16px solid;
    margin: 5px 0px 0px 0px;
    font-family: 'Muli', sans-serif;
}

.card__details--list {
    color: white;
    font-size: 14px;
    margin: 3px 0px;
    left: 0px;
    list-style:none;
}