.background {
    background-image: linear-gradient(#21c08b, #8f57fd);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
    min-height: calc(100vh - 200px); /* El ancho será igual al tamaño de todo el height menos 200px (100px del header + 100px del footer) */
    min-width: 80%;
    
}

.container {
    min-height: 70%;
    min-width: 80%;
    background-color: rgba(255,255,255,0.1);
    border: 2px solid white;
    border-radius: 40px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 50px;
    padding: 20px 40px 20px;
}

.card__details--title__container{
    display: flex;
    justify-content: space-between;
    font-size: 26px;
}

.card__details--subtitle__container{
    display: flex;
    justify-content: start;
    font-size: 14px;
}

.card__details--list__container{
    display: flex;
    justify-content: space-evenly;
}

// .detail {
//     border-radius: 20px;
//     overflow: hidden;
//     position: relative;
//     display: inline-block;
//     font-size: 20px;
//     height: 400px;
// }

// .card__details {
//     // align-items: flex-start;
//     background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
//     display: flex;
//     flex-direction: column;
//     // justify-content: flex-end;
//     height: 100%;
//     padding: 10px;
//     left: 0;
//     right: 0;
//     top: 0;
//     opacity: 0;
//     transition: 450ms opacity;
//     position: absolute;
// }

.card:hover .card__details {
    opacity: 4;
}

// .card__details--title {
//     // color: white;
//     // font-size: 16px solid;
//     // margin: 5px 0px 0px 0px;
//     // font-family: 'Muli', sans-serif;
// }

.card__details--subtitle {
    color: white;
    margin: 5px 20px 0px 0px;
    font-family: 'Muli', sans-serif;
}

.card__details--list{
    margin: 10px;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
}

.card_details--description {
    color: white;
    font-size: 14px;
    font-family: 'Muli', sans-serif;
    // align-content: center;
    text-align: justify;
}

// .cropped {
//     width: 100%; /* width of container */
//     height: 200px; /* height of container */
//     // overflow: hidden;
//     border-radius: 20px;
//     // object-fit: cover;
// }

.cropped{
    background-size: cover;
    background-position: center;
    top: 100px;
    height: 200px;
    width: 100%;
    // position: fixed;
}

// .cropped::after{
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     display: block;
//     width: 100%;
//     height: 100%;
//     background: #130f40;
// }

// .cropped img {
//     height: 400px;
//     width: 100%;
// }