.background {
    background: #151515;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
    min-height: calc(100vh - 200px); /* El ancho será igual al tamaño de todo el height menos 200px (100px del header + 100px del footer) */
    min-width: 80%;
    
}

.container {
    min-height: 70%;
    min-width: 80%;
    background-color: rgba(255,255,255,0.1);
    border: 2px solid white;
    border-radius: 40px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 50px;
    padding: 20px 40px 20px;
    position: relative;
}

.card__details--title__container{
    display: flex;
    justify-content: space-between;
    font-size: 26px;
}

.card__details--subtitle__container{
    display: flex;
    justify-content: start;
    font-size: 14px;
}

.card__details--list__container{
    display: flex;
    justify-content: space-evenly;
}

.card:hover .card__details {
    opacity: 4;
}

.card__details--subtitle {
    color: #FFFFFF;
    margin: 5px 20px 0px 0px;
    font-family: 'Muli', sans-serif;
}

.card__details--list{
    margin: 10px;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
}

.card_details--description {
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    // align-content: center;
    text-align: justify;
}

.game__image{
    width: 100%;
    height: 325px;
    border-radius: 20px;
}

.loading {
    align-self: center;
}