.landing {
    background-color: #151515;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
}

.inicio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 70vh;
}

.ver-button{
    background-color: #FFC107;
    border: 2px solid #FFC107;
    border-radius: 25px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    outline: none;
    padding: 5px 20px;
    width: 90%;
}

p, h1 {
    padding-left: 30px;
    padding-right: 30px;
}